<div class="header">
    <nav class="header_top">
      <div class="header_menu">
  
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <img src="../assets/header-menu-logo.jpg" class="header_menu_logo">
          <span>Bookstore </span>
        </div>
        <div class="header_menu_searchbar" fxLayoutGap="0px">
          <div class="header_menu_searchbar_icon">
            <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
          </div>
          <input type="text" class="header_menu_input" size="100">
        </div>
        <div class="header_menu_signIn">
          <span class="header_menu_top_item">Hello, Sign In</span>
          <span class="header_menu_bottom_item">Accounts and Lists</span>
        </div>
        <div class="header_menu_cart">
          <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_cart</mat-icon>
          <p class="header_cart_number">3</p>
        </div>
      </div>
    </nav>
  </div>