<table class="css-serial" style="border: 1px solid;margin-left:auto;margin-right:auto;margin-top: 50px;" BORDER="7" WIDTH="70%" CELLPADDING="18" CELLSPACING="0">
    <thead>
        <tr style="border: 1px solid #DCDCDC;background-color: gainsboro">
            <th>Sr.No</th>
            <th>BookImage</th>
            <th>Author</th>
            <th>BookName</th>
            <th>description</th>
            <th>discountPrice</th>
            <th>price</th>
            <th>quantity</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody *ngFor="let book of adminBookList">
        <tr style="text-align: center;">
            <!--intentionally left blank-->
            <td></td>
            <td><img src="../../../assets/Dashboard/Image 20.png" width="50px" height="50px" alt=""></td>
            <td>{{book.author}}</td>
            <td>{{book.bookName}}</td>
            <td>{{book.description}}</td>
            <td>Rs.{{book.discountPrice}}</td>
            <td>Rs.{{book.price}}</td>
            <td>{{book.quantity}}</td>
            <td>
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" >
                <button  (click)="openDialog(book)"  class="buttons" style="color: blue;">Update</button>
                <button (click)="deleteBook(book)" class="buttons" style="color: red;">Delete</button>
            </div>
            </td>
        </tr>
    </tbody>
</table>

<mat-card  class="example-card">

    <h1>Add Book Details</h1>
    <form [formGroup]="Addnewbookform" fxLayout="column">
        <div>
            <span>BookName</span>
            <div>
                <mat-form-field width="600px" appearance="outline">
                    <input matInput formControlName="bookName">
                    <mat-error>bookname Required!</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div>
            <span>author</span>
            <div>
                <mat-form-field width="600px" appearance="outline">
                    <input matInput formControlName="author">
                    <mat-error>AuthorRequired!</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div>
            <span>description</span>
            <div>
                <mat-form-field width="600px" appearance="outline">
                    <input matInput formControlName="description">
                    <mat-error>bookname Required!</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div>
            <span>quantity</span>
            <div>
                <mat-form-field width="600px" appearance="outline">
                    <input matInput formControlName="quantity">
                    <mat-error>bookname Required!</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div>
            <span>Price</span>
            <div>
                <mat-form-field width="600px" appearance="outline">
                    <input matInput formControlName="price">
                    <mat-error>bookname Required!</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div>
            <span>DiscountPrice</span>
            <div>
                <mat-form-field width="600px" appearance="outline">
                    <input matInput formControlName="discountPrice">
                    <mat-error>bookname Required!</mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
    <button (click)="addnewbook()" >add</button>
</mat-card>
