
<div fxLayout="column" fxLayoutAlign="start center">
    <div>
        <img src="../../../assets/PlaceOrder/placeorder.png" width="200px" height="200px;">
    </div>

    <div>
        <p style="text-align: center;font: normal normal normal 18px/22px Lato;color: #333232;opacity: 1;">
            hurray!!! your order is confirmed<br> the order id is #123456 save the order id for<br> further
            communication..
        </p>
    </div>

    <TABLE style="border: none;" BORDER="0" WIDTH="70%" CELLPADDING="10" CELLSPACING="0">
        <TR style="border: 1px solid #DCDCDC;background-color: gainsboro">
            <TH COLSPAN="1">
                <H3 style="text-align: center;">Email</H3>
            </TH>
            <TH COLSPAN="1">
                <H3 style="text-align: center;">Contact us</H3>
            </TH>
            <TH COLSPAN="1">
                <H3 style="text-align: center;">Address</H3>
            </TH>

        </TR>
        <TR  >
            <TH style="color: #333232;opacity: 0.71;"> admin@bookstore.com</TH>
            <TH style="color: #333232;opacity: 0.71;">88300576533</TH>
            <TH style="text-align: start;color: #333232;opacity: 0.71; ">402-B Wing, Poonam Complex, Viman Nagar, Pune-411014</TH>

        </TR>

    </TABLE>

   
    <div>
        <button (click)="ongetallbooks()" class="continueshopping" style="color: white;">Continue Shopping</button>
    </div>
</div>





<div >
    <app-footer ></app-footer>
</div>