<div class="header">
  <nav class="header_top">
    <div class="header_menu">

      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" >
        <img src="../assets/header-menu-logo.jpg" class="header_menu_logo">
        <span>Bookstore </span>
      </div>
      <div class="header_menu_searchbar" fxLayoutGap="800px">
        <input type="text" class="header_menu_input">
        <div class="header_menu_searchbar_icon"></div>
      </div>
      <div class="header_menu_signIn">
        <span class="header_menu_top_item">Hello, Sign In</span>
        <span class="header_menu_bottom_item">Accounts and Lists</span>
      </div>
    </div>
  </nav>
  <nav class="header_bottom">

  </nav>
</div>