.example-spacer {
    flex: 1 1 auto;
}
.bottombuttons {
    width: 70px;
    height: 21px;
    background: #4266b2 0% 0% no-repeat padding-box;
    border-radius: 1px;
    opacity: 1;
    border: none;
}
.homebutton{
    padding-right: 0px; min-width: 50px;background-color: transparent;border: none;color:#9D9D9D
}